*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: " ";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.mid-content{
    max-width: 1070px;
    margin: auto;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

/*      start css      */
body,span,a,h1,h2,h3,h4,h5,h6,{
    font-family: 'Work Sans', sans-serif;
}
.hader-section{
    background: #f5deb3;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
.mid-content{}
.hader-logo{
    width: 30%;
}
.logo {
    width: 150px;
    float: left;
    margin-right: 10px;
}
/* .hader-logo span {
    display: inline-block;
    font-weight: 600;
    margin-top: 8px;
    font-size: 25px;
    color: #000;
} */
/* .hader-batton{
    width: 15%;
    text-align: right;
} */
/* .hader-btn {
    display: inline-block;
    border: 2px solid #6278df;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 4px;
    padding: 9px 25px;
    color: #6278df;
    transition: .5s;

}
.hader-btn:hover{
    background: #6278df;
    color: #fff;
} */

.mid-content.hader-menu{
    width: 70%;
}
.hader-menu ul{
    
}
.hader-menu ul li{
    display: inline-block;
    border-right: 1px solid #fff;
    
}
.hader-menu ul li a{
    display: block;
    padding: 0 15px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}
.hader-menu ul li a:hover{}

.banner-section{
    background-image: url(img/intro-bg.jpg);
    padding: 220px 0;
    background-size: cover;
    color: #fff;
    margin-top: 70px;
}

.banner-content{}
.banner-content h3{
    font-size: 30px;
    font-weight: 600;
    color: #3698da;
}
.banner-content h2{
    font-size: 40px;
    margin: 25px 0;
    color: #3698da;
}


.banner-bottom{
    padding: 100px 60px;
}
.content-left{
    width: 38%;
}
.content-left img{
    width: 300px;
    margin-left: 30px;
}
.content-right{
    width: 58%;
}
.content-right h2{
    font-size: 35px;
    font-weight: 600;
}
.content-right h3{
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
}
.content-right p{
    font-size: 18px;
    color: #111;
    line-height: 1.7em;
    margin-top: 30px;
}

/*    service-section    */
/* .service-section{
    padding: 70px 0;
}
.service-title h2{
    font-size: 60px;
    font-weight: 600;
}
.service-title p{
    font-size: 25px;
    color: #7d7d7d;
    font-weight: 500;
    margin-top: 30px;
}
.service-iteam{
    margin-top: 50px;
}
.service-box{
    width: 32%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    margin-right: 2%;
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
}
.service-box:nth-child(3n+3){
    margin-right: 0;
}
.s-icone {
    width: 40px;
    float: left;
    height: 130px;
    font-size: 30px;
    color: #6278df;
    margin-right: 10px;
}
.s-content{
    margin-left: 10px;
}
.s-content h4{
    font-size: 25px;
    font-weight: 500;
}
.s-content p{
    color: #7d7d7d;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7em;
} */

.service-section{}
.service-item{
    width: 32%;
    border: 1px dotted #111;
    border-radius: 25px 0 25px 0;
    margin-right: 2%;
    margin-bottom: 30px;
    padding: 40px 20px;
    box-sizing: border-box;
    text-align: center;
}
.service-item h2{
    margin-top: 30px;
}
.service-item p{
    margin-top: 40px;
}
.s-icone span{
    font-size: 40px;
    border: 2px solid #3698da;
    border-radius: 25px 0 25px 0;
    padding: 10px;
    color: #3698da;
    line-height: 40px;
}

/* ======== footer-section ======== */
.footer-section{
    background: #2c3e50;
    padding: 20px 0;
}
